.about {
  display: block;
  margin: 0 auto;
  background-color: getColor(green-main);
  padding-top: 61px;
  padding-bottom: 64px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 204px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 178px;
  }

  &__label {
    min-width: 210px;
    margin: 0 auto 12px auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: getColor(theme-white);

    @media screen and (min-width: $tablet) {
      min-width: 276px;
      font-weight: 800;
      font-size: 22px;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: $desktop) {
      min-width: 376px;
      font-size: 30px;
    }
  }

  &__title {
    width: 200px;
    margin: 0 auto 32px auto;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor(theme-white);

    @media screen and (min-width: $tablet) {
      min-width: 456px;
      margin: 0 auto 72px auto;
      font-size: 34px;
      letter-spacing: 0.06em;
    }

    @media screen and (min-width: $desktop) {
      min-width: 483px;
      margin: 0 auto 82px auto;
      font-size: 36px;
    }
  }
}

.block {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.thumb {
  position: relative;
  margin: 0 auto 62px auto;
  width: 278px;
  height: 278px;
  background: linear-gradient(
      0deg,
      getColor(yellow-transparent),
      getColor(yellow-transparent)
    ),
    getColor(theme-grey);
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin: 0 38px 86px 0;
    width: 330px;
    height: 330px;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 109px 99px 0;
    width: 490px;
    height: 490px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
  }

  &__imagen {
    position: absolute;
    display: block;
    top: 22px;
    border-radius: 140px;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      top: 26px;
      border-radius: 1228px;
    }

    @media screen and (min-width: $desktop) {
      top: 39px;
      border-radius: 1852.2px;
    }
  }
}

.description {
  display: block;

  @media screen and (min-width: $tablet) {
    margin-top: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 90px;
  }

  &__text {
    width: 220px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    color: getColor(theme-white);

    @media screen and (min-width: $tablet) {
      width: 330px;
      text-align: left;
    }

    @media screen and (min-width: $desktop) {
      min-width: 463px;
    }

    &--first {
      margin-bottom: 4px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 8px;
      }

      @media screen and (min-width: $desktop) {
        font-size: 16px;
      }
    }

    &--second {
      margin-bottom: 10px;
      line-height: 1.62;

      @media screen and (min-width: $tablet) {
        margin-bottom: 8px;
      }

      @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.94;
      }
    }

    &--third {
      display: none;

      @media screen and (min-width: $tablet) {
        display: inline-block;
        line-height: 1.94;
        width: 280px;
      }

      @media screen and (min-width: $desktop) {
        font-size: 14px;
      }
    }
  }
}

.about-button {
  display: flex;
  padding: 12px 34px 12px 34px;
  margin: 0 auto 50px auto;
  background-color: getColor(yellow-main);
  border-radius: 10px;
  border: transparent;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: #000000;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    margin: 32px 0 0 0;
  }

  @media screen and (min-width: $desktop) {
    margin: 54px 0 0 0;
  }

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    color: getColor(theme-white);
  }

  &:focus &__icon {
    fill: getColor(theme-white);
  }

  &__icon {
    display: flex;
    margin-left: 8px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages {
  display: block;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 230px;

    @media screen and (min-width: $tablet) {
      width: 152px;
    }

    @media screen and (min-width: $desktop) {
      width: 368px;
    }

    &:not(:last-child) {
      margin-bottom: 22px;

      @media screen and (min-width: $tablet) {
        margin-right: 80px;
        margin-bottom: 0;
      }

      @media screen and (min-width: $desktop) {
        margin-right: 32px;
        margin-bottom: 0;
      }
    }

    &--cow::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url(../src/images/about/cow.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        &::before {
          background-image: url(../src/images/about/cow@2x.png);
        }
      }
    }

    &--weight::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url(../src/images/about/weight.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        &::before {
          background-image: url(../src/images/about/weight@2x.png);
        }
      }
    }

    &--ice-crema::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url(../src/images/about/ice-crema.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        &::before {
          background-image: url(../src/images/about/ice-crema@2x.png);
        }
      }
    }
  }

  &__index {
    margin: 16px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor(theme-white);

    @media screen and (min-width: $tablet) {
      margin: 32px 0 12px 0;
      font-size: 48px;
    }

    @media screen and (min-width: $desktop) {
      margin: 40px 0 12px 0;
      font-size: 58px;
    }
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    color: getColor(theme-white);

    @media screen and (min-width: $tablet) {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.74;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 1.76;
      letter-spacing: 0.02em;
    }
  }
}
