.footer {
  background: #84a178;
  width: 100%;
  padding-top: 1095px;
  @media screen and (min-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-top: 360px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: column;
    padding-top: 636px;
  }
}

.footer .container {
  padding: 20px;
}

.footer__container {
  margin: 0px;

  @media screen and (min-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer__title {
  width: 232px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;

  @media screen and (min-width: 480px) {
    width: 232px;
    font-size: 18px;
    line-height: 1.22;
  }

  @media screen and (min-width: 768px) {
    width: 352px;
    letter-spacing: 0.04em;
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    width: 504px;
    line-height: 1.24;
    width: auto;
  }
}

.footer__title-second {
  width: 200px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;

  @media screen and (min-width: 480px) {
    font-size: 34px;
    line-height: 1.22;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.23;
    margin-bottom: 31px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
    width: auto;
    margin-bottom: 60px;
  }
}

.footer__social-icons {
  display: flex;
  margin-top: 60px;
  justify-content: flex-end;

  @media screen and (min-width: 480px) {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    margin-top: 61px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 18px;
  }
}

.footer__social-items {
  width: 34px;
  height: 34px;
  margin-right: 20px;
  cursor: pointer;

  &:last-child {
    margin-right: 0px;
  }
  @media screen and (min-width: 480px) {
    margin-right: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.footer__link {
  width: 100%;
  height: 100%;
  background: #f8d24e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-svg {
  width: 34px;
  height: 34px;
  fill: getColor(green-main);

  &:hover,
  &:focus {
    fill: getColor(theme-white);
  }
}

.footer__contact {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px 40px;

  @media screen and (min-width: 480px) {
    margin: 20px 0px 40px;
  }

  @media screen and (min-width: 768px) {
    margin: 34px 0px 60px;
  }

  @media screen and (min-width: 1200px) {
    margin: 40px 0px 60px;
  }
}

.footer__contact-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 2.2;
  text-align: right;
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}

.footer__contact-tel {
  text-decoration: none;
  margin-left: 3px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.2;
  text-align: right;
  color: #fcfcfc;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.footer__compani {
  border-top: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 2.1;
  text-align: center;
  color: #7a7a7a;
  /* margin: 0px -32px 20px;*/

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 12px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    max-width: 1600px;
  }
}
