.gallery {
  background-image: url('../src/images/Bg_mobile.png');
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../src/images/Bg_mobile@2x.png');
  }
  &__picture {
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    top: -32px;
    @media screen and (min-width: 768px) {
      top: -145px;
    }
    @media screen and (min-width: 1200px) {
      top: -99px;
    }
  }
  &__box {
    width: 280px;
    height: 256px;
    padding: 35px 39px;
    margin: 0 auto;
    margin-bottom: 32px;
    border-radius: 10px;
    background-color: getColor(green-main);

    @media screen and (min-width: 768px) {
      width: 705px;
      height: 138px;
      padding: 28px 80px;
      border-radius: 24px;
    }

    @media screen and (min-width: 1200px) {
      width: 968px;
      height: 138px;
      padding: 42px 74px;
      border-radius: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(31 / 12);
    text-align: center;
    color: getColor(theme-white);

    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(26 / 14);
      letter-spacing: 0.04em;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37 / 20);
    text-align: center;
    color: getColor(theme-black);
    padding-bottom: 64px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }
}

.foto {
  margin: 0 auto;
  border-radius: 50%;
  @media screen and (max-width: 767px) {
    margin-top: 48px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 45px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 45px;
    margin-bottom: 32px;
  }
}
.gallery .container {
  padding-top: 32px;
}
