/* модальне вікно * Updated upstream
/*.modal-buy-form {
​
​
.modal-buy {
  position: fixed;
  width: 280px;
  padding: 28px 0px;
  margin: auto;
  background-color: getColor(theme-white);
  border: 1px solid getColor(yellow-main);
  border-radius: 10px;
  top: 50%;
  left: 50%;
}
​
.modal-close {
  background-color: unset;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
}*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* модальне вікно modal-form*/

.modal-title {
  margin: 20px 91px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  align-items: center;
  text-align: center;
  color: #131313;
}
.modal-buy-now {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_buy-now__item {
  position: relative;

  margin-bottom: 20px;
  width: 132px;
  height: 200px;
  //border: solid 2px tomato;
}
//.product-ice-cream{}

.product-ice-coffe {
  height: 136px;
  margin-top: 63px;
  margin-bottom: 0px;
  // background-color:yellow;
  border-radius: 15px;
}

//.product-milkshake{}

.modal_buy-now-product__frame {
  //position: relative;
  margin-top: 63px;
  margin-bottom: 0px;
  height: 136px;
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
}

.modal_buy-now-product__image {
  position: absolute;
  top: -50%;
  left: 0;
}
.modal_buy-now-product__name {
  position: absolute;

  left: 15px;
  bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;
}
// .modal_buy-now-checkbox{}
.modal_buy-now-checkbox input:checked + .product-ice-cream {
  background-color: #aec6a5;
}

.modal_buy-now-checkbox input:checked + .product-ice-coffe {
  background-color: #efd478;
}

.modal_buy-now-checkbox input:checked + .product-milkshake {
  background-color: #d6936d;
}
/* модальна форма modal-form*/
.modal-forma {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;
}
.modal-input {
  margin-bottom: 12px;
  width: 224px;
  height: 32px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}
.user-coment-area {
  width: 224px;
  height: 32px;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin-bottom: 20px;
}
