.modal-howmade {
  position: relative;
  margin: 28px;
  &__title {
    font-family: 'Seymour One', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: getColor(theme-black);
    margin-bottom: 20px;
  }
  &__video {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  &__video img {
    display: inline;
  }
  &__text {
    width: 224px;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 auto;
    color: getColor(theme-black);
  }
}
