/* модальне вікно */
/*.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 500ms, visibility 500ms;
   padding: 20px 15px;
   overflow: scroll;
}
.modal-backdrop.is-hidden .modal {
  transform: rotate(-90deg);
}
.close-sign {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
   fill:#FFFFFF;
   color: #000000; 
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.modal_thankyou {
  width: 280px;
  height: 674px;
  // position: absolute;
  //top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%) rotate(0);
  //transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    width: 568px;
    height: 668px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    //transform: translate(-50%, -50%) rotate(0);
    // transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    //width: 100%;
    // max-width: 224px;
  }
  .modal-forma {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
  }
  .modal__title {
    margin-top: 28px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-top: 32px;
      margin-right: 124px;
      margin-left: 124px;
      margin-bottom: 24px;
    }
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #131313;
  }
  .modal__text {
    margin-left: 30px;
    margin-right: 30px;
    @media screen and (min-width: 768px) {
      margin-right: 60px;
      margin-left: 60px;
    }
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
  }
  .modal-input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    width: 224px;
    height: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
      width: 368px;
      height: 42px;
    }
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
  }
  .user-coment-area {
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    height: 64px;
    @media screen and (min-width: 768px) {
      width: 368px;
      height: 84px;
      margin-bottom: 32px;
    }
    resize: none;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 24px;
  }
}
