<!-- модальне вікно  buy-now   -->

<!-- <div class="modal-backdrop is-hidden" data-modal>

 <div class="modal modal-buy-form" data-modal="1">-->
​
<!-- <div class="modal modal-howmade" data-modal="1">  -->
​
<!-- <button class="modal-close js-modal-close" type="button">
  <svg class="modal__cross" width="14" height="14">
    <use href="././images/icons.svg#mobile_menu_x"></use>
  </svg>

</button> -->

<div class="modal modal-icecream" data-modal="5">
  <div class="close-sign" data-modal-close>
    <svg class="close" width="20" height="20">
      <use href="././images/icons.svg#mobile_menu_x"></use>
    </svg>
  </div>

  <h2 class="modal-title">Buy now</h2>
  <ul class="modal-buy-now">

    <h2 class="modal__title">Buy now</h2>
    <ul class="modal_buy-now">

      <li class="modal_buy-now__item">
        <label class="modal_buy-now-checkbox">
          <input type="checkbox" class="checkbox visually-hidden" />
          <div class="modal_buy-now-product product-ice-cream">
            <div class="modal_buy-now-product__frame">
              <div class="modal_buy-now-product__image">
                <img srcset="
                   ./images/prod/cream_mob_tab.png,
                   ./images/prod/cream_mob_tab_@2.png
                 " src="./images/prod/cream_mob_tab.png" alt="Ice Cream" />
              </div>
            </div>
            <p class="modal_buy-now-product__name">Ice Cream</p>
          </div>
        </label>
      </li>

      <li class="modal_buy-now__item">
        <label class="modal_buy-now-checkbox">
          <input type="checkbox" class="checkbox visually-hidden" />
          <div class="modal_buy-now-product product-ice-coffe">
            <div class="modal_buy-now-product__frame">
              <div class="modal_buy-now-product__image">
                <img srcset="
                 ./images/prod/coffee_mob_tab.png,
                 ./images/prod/coffee_mob_tab_@2.png
               " src="./images/prod/coffee_mob_tab.png" alt="Ice Coffe" />
              </div>
            </div>
            <p class="modal_buy-now-product__name">Ice Coffe</p>
          </div>
        </label>
      </li>

      <li class="modal_buy-now__item">
        <label class="modal_buy-now-checkbox">
          <input type="checkbox" class="checkbox visually-hidden" />
          <div class="modal_buy-now-product product-milkshake">
            <div class="modal_buy-now-product__frame">
              <div class="modal_buy-now-product__image">
                <img srcset="
                 ./images/prod/shake_mob_tab.png,
                 ./images/prod/shake_mob_tab_@2.png
               " src="./images/prod/shake_mob_tab.png" alt="Ice Coffe" />
              </div>
            </div>
            <p class="modal_buy-now-product__name">milkshake</p>
          </div>
        </label>
      </li>

    </ul>






    <form name="form-bay" class="modal-forma">




      <label class="" for="user-name">
        <input type="text" name="user-name" id="user-name" class="modal-input" placeholder="Name">

      </label>

      <label class="" for="user-tel">
        <input type="tel" name="user-tel" id="user-tel" class="modal-input" placeholder="Phone">

      </label>

      <label class="user-coment">
        <textarea name="coments" rows="7" class="user-coment-area" placeholder="Comment"></textarea>
      </label>

      <button type="submit" class="button send">Submit</button>

    </form>


</div>

<script defer src="./js/mobile-menu.js"></script>