<!-- модальне вікно  buy-now -->

<!--<div class="modal-backdrop is-hidden" data-modal>-->
<div class="modal_buy-now">


  <div class="close-sign" data-modal-close>

    <svg class="close" width="20" height="20">

      <use href="././images/icons.svg#mobile_menu_x"></use>
    </svg>

  </div>




  <div class="">

    <h2 class="title-modal">Buy now</h2>


    <ul class="buy">

      <li class="buy-ice">

        <a class="" href="">
          <img class="buy-ice__img" src="././images/prod/cream_desk.png" alt="" width="132">
        </a>



        <h3 class="buy-ice__title">ice cream</h3>

      </li>


      <li class="buy-ice">
        <a class="" href="">
          <img class="" src="././images/prod/coffee_desk.png" alt="" width="132">
        </a>


        <h3 class="buy-ice__title">ice coffee</h3>

      </li>

      <li class="buy-ice">

        <a class="" href="">
          <img class="" src="././images/prod/shake_desk.png" alt="" width="132">
        </a>


        <h3 class="buy-ice__title">milkshake</h3>

      </li>

    </ul>

  </div>
  <form name="form-bay" class="modal-forma">




    <label class="" for="user-name">
      <input type="text" name="user-name" id="user-name" class="modal-input" placeholder="Name">

    </label>

    <label class="" for="user-tel">
      <input type="tel" name="user-tel" id="user-tel" class="modal-input" placeholder="Phone">

    </label>

    <label class="user-coment">
      <textarea name="coments" rows="7" class="user-coment-area" placeholder="Comment"></textarea>
    </label>

    <button type="submit" class="button send">Submit</button>

  </form>


</div>
</div>
<!-- <script src="./modal.js"></script>   -->