<div class="modal modal-howmade" data-modal="1">
    <button class="modal-close js-modal-close" type="button">
        <svg class="modal__cross" width="14" height="14">
            <use href="././images/icons.svg#mobile_menu_x"></use>
        </svg>
    </button>
    <h2 class="modal-howmade__title">How it’s made?</h2>
    <div class="modal-howmade__content">
        <div class="modal-howmade__video">
            <iframe width="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            <!-- <img src="/src/images/modal/how-made-video.jpg" alt=""> -->
        </div>
        <p class="modal-howmade__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et</p>
    </div>
</div>