<!-- модальне вікно  modal_thankyou -->

<!--<div class="modal-backdrop is-hidden" data-modal>-->
<div class="modal_thankyou">


  <div class="close-sign" data-modal-close>

    <svg class="close" width="20" height="20">

      <use href="././images/icons.svg#mobile_menu_x"></use>
    </svg>

  </div>





  <h2 class="modal__title">Thank you for your <br>
    interest in owning <br>
    an Ice Cream shop</h2>



  <li class="">

    <p class="modal__text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee
      applications at this time.
      Once the application process resumes, we will contact you for further information.
      Please fill out the contact information below and we will reach out for additional information. We appreciate your
      patience. </p>
  </li>


  <form name="form-bay" class="modal-forma">




    <label class="" for="user-name">
      <input type="text" name="user-name" id="user-name" class="modal-input" placeholder="Name">

    </label>

    <label class="" for="user-tel">
      <input type="tel" name="user-tel" id="user-tel" class="modal-input" placeholder="Phone">

    </label>

    <label class="" for="user-tel">
      <input type="email" name="user-mail" id="user-tel" class="modal-input" placeholder="Email">

    </label>

    <label class="user-coment">
      <textarea name="coments" rows="7" class="user-coment-area" placeholder="Comment"></textarea>
    </label>

    <button type="submit" class="button send">Submit</button>

  </form>

</div>
</div>
<!--<script src="././modal_thankyou.js"></script>    -->


<!-- old modal code before conflict
  
  <div class="modal-backdrop is-hidden" data-modal>
    <div class="modal">

     
      <div class="close-sign" data-modal-close>
        
        <svg class="close" width="20" height="20" > 
       
        <use href="././images/icons.svg#mobile_menu_x"></use> 
    </svg>

    </div>

 


        <div class="conteiner">

          <h2 class="title-modal">Buy now</h2>


          <ul class="buy">
              <li class="buy-ice">
              
                  <a class="" href="">
                   <img class="" src="././images/prod/cream_desk.png" alt="" width="132">
                  </a>   
                  
                  

              <h3 class="buy-ice__title">ice cream</h3>
                  
               </li>


               <li class="buy-ice">
                      <a class="" href="">
                    <img class="" src="././images/prod/coffee_desk.png" alt="" width="132">
                   </a>   
                   
               
               <h3 class="buy-ice__title">ice coffee</h3>
              
                </li>

                <li class="buy-ice">
                 
                     <a class="" href="">
                      <img class="" src="././images/prod/shake_desk.png" alt="" width="132">
                     </a>   
                     
                 
                 <h3 class="buy-ice__title">milkshake</h3>
                
                  </li>

          </ul>

        </div>
    <form name="form-bay" class="modal-forma">
        
     
        
        
        <label class="" for="user-name" >
        <input type="text" name="user-name" id="user-name" class="modal-input" placeholder="Name">
          
        </label>

        <label  class="" for="user-tel" >
        <input type="tel" name="user-tel" id="user-tel" class="modal-input" placeholder="Phone">
            
        </label>
       
        <label class="user-coment"> 
         <textarea name="coments" rows="7" class="user-coment-area" 
         placeholder="Comment"></textarea>
        </label>
          
        <button type="submit" class="button send" >Submit</button> 
       
    </form>


    </div>
  </div>
 <!-- <script src="./modal.js"></script>   -->