<!--1. Buy now (<button> +svg) (Кнопка “Buy now” відкриває модальне вікно з формою замовлення, що складається з маркованого списку товарів (елементи якого містять в собі приховані чекбокси), з інпутів (яким необхідно додати мінімальну валідацію даних для введення за допомогою  атрибуту pattern)  та кнопки Submit.)-->
<button class="button --button-arrow button__buy-now" type="button">
  <span class="button_text">Buy now</span
  ><svg class="button__icon" width="12" height="12">
    <use href="./images/icons.svg#icon-arrow-right"></use>
  </svg>
</button>

<!--2. Products (<a>) (Кнопки “Products” та “How it's made”, розміщені під заголовком,  є якірними посиланнями на відповідні розділи.) -->
<a class="button button_products --button-transperent" href="#products"
  >Products</a
>

<!--3. How it’s made? (<a>) (Кнопки “Products” та “How it's made”, розміщені під заголовком,  є якірними посиланнями на відповідні розділи.)-->
<a class="link_button" href="">How it’s made?</a>

<!--4. Read more (<button> + svg) (Кнопка має відкривати модальне вікно з повним описом процесу створення продукту, яке містить в собі заголовок, відео-ролик (який необхідно реалізувати за допомогою iframe, вибравши на youtube тематичний ролик) та описом процесу.)-->
<button class="button --button-arrow button__read-more" type="button">
  <span class="button_text">Read more</span
  ><svg class="button__icon" width="12" height="12">
    <use href="./images/icons.svg#icon-arrow-right"></use>
  </svg>
</button>

<!--5. Our Locations (<button> +svg) (Кнопка “Our Locations” повинна відкривати модальне вікно з контентним зображенням мапи та посиланням на мапу стороннього ресурсу.)-->
<button class="button --button-arrow button__our-location" type="button">
  <span class="button_text">Our Locations</span
  ><svg class="button__icon" width="12" height="12">
    <use href="./images/icons.svg#icon-arrow-right"></use>
  </svg>
</button>

<!--6. Franchise (<button> +svg) (Кнопка “Franchise” повинна відкривати модальне вікно з формою для введення користувачем, який зацікавився умовами франшизи, контактної інформації для подальшого зв’язку, що містить в собі інпути (яким необхідно додати мінімальну валідацію даних для введення за допомогою  атрибуту pattern)  та кнопку Submit.)-->
<button
  class="button --button-arrow button__franchise --button-transperent"
  type="button"
>
  <span class="button_text">Franchise</span
  ><svg class="button__icon" width="12" height="12">
    <use href="./images/icons.svg#icon-arrow-right"></use>
  </svg>
</button>

<!--7. Submit (<button>)-->
<button class="button button__submit" type="submit">Submit</button>

<!--.8 Open map (<p>) -->
<a class="button button__submit" href="">Open map</a>
