<div class="background-block">
  <section id="location" class="location">
    <div class="container">
      <h3 hidden>location</h3>
      <ul class="location__block">
        <li class="location__item">
          <div class="location-cafe">
            <p class="location-cafe__name">CAFE</p>
          </div>

          <div class="location-nav">
            <p class="location-nav__type location-nav__city">Chicago</p>
            <p class="location-nav__type location-nav__adress">
              <a class="location-nav__map" href="https://goo.gl/maps/A3Mj3EVbLayPh7WY6">10340 Ridgeland Ave, Chicago
                Ridge, IL 60415, USA
              </a>
            </p>
          </div>

          <div class="location-nav">
            <p class="location-nav__type location-nav__day">Monday - Friday</p>
            <p class="location-nav__type location-nav__hour">
              06:00 AM - 10:00 PM
            </p>

            <p class="location-nav__type location-nav__day">Saturday - Sunday</p>
            <p class="location-nav__type location-nav__hour">
              08:00 AM - 16:00 PM
            </p>
          </div>

          <div class="location-nav__contacts">
            <p class="location-nav__type location-nav__item">
              <a href="tel:+30961111111" class="location-nav__info">+61(0) 383 766 284</a>
            </p>
            <p class="location-nav__type location-nav__item">
              <a href="mailto:info@devstudio.com" class="location-nav__info">noreply@envato.com</a>
            </p>
          </div>
        </li>

        <li class="location__item">
          <h3 hidden>location</h3>
          <div class="location-cafe location-cafe__food">
            <p class="location-cafe__name">FOOD TRUCK</p>
          </div>

          <div class="location-nav">
            <p class="location-nav__type location-nav__city">Los Angeles</p>
            <p class="location-nav__type">
              <a class="location-nav__map" href="https://goo.gl/maps/ybww7UCu54JsqKjs6">1003 Manhattan Ave, Manhattan
                Beach, CA 90263, USA</a>
            </p>
          </div>

          <div class="location-nav">
            <p class="location-nav__type location-nav__day">Monday - Friday</p>
            <p class="location-nav__type location-nav__hour">
              06:00 AM - 10:00 PM
            </p>

            <p class="location-nav__type location-nav__day">Saturday - Sunday</p>
            <p class="location-nav__type location-nav__hour">
              08:00 AM - 16:00 PM
            </p>
          </div>

          <div class="location-nav__contacts">
            <p class="location-nav__type location-nav__item">
              <a href="tel:+30961111111" class="location-nav__info">+61(0) 383 766 284</a>
            </p>
            <p class="location-nav__type location-nav__item">
              <a href="mailto:info@devstudio.com" class="location-nav__info">noreply@envato.com</a>
            </p>
          </div>
        </li>

        <li class="location__item">
          <h3 hidden>location</h3>
          <div class="location-cafe">
            <p class="location-cafe__name">CAFE</p>
          </div>
          <div class="location-nav">
            <p class="location-nav__type location-nav__city">New York</p>
            <p class="location-nav__type location-nav__adress">
              <a class="location-nav__map" href="https://goo.gl/maps/ybww7UCu54JsqKjs6">726 Sterling Pl, Brooklyn, NY
                11222, USA</a>
            </p>
          </div>

          <div class="location-nav">
            <p class="location-nav__type location-nav__day">Monday - Friday</p>
            <p class="location-nav__type location-nav__hour">
              06:00 AM - 10:00 PM
            </p>

            <p class="location-nav__type location-nav__day">Saturday - Sunday</p>
            <p class="location-nav__type location-nav__hour">
              08:00 AM - 16:00 PM
            </p>
          </div>

          <div class="location-nav__contacts">
            <p class="location-nav__type location-nav__item">
              <a href="tel:+30961111111" class="location-nav__info">+61(0) 383 766 284</a>
            </p>
            <p class="location-nav__type location-nav__item">
              <a href="mailto:info@devstudio.com" class="location-nav__info">noreply@envato.com</a>
            </p>
          </div>
        </li>
      </ul>
      <div class="button__location">
        <include src="./partials/modals/map.html"></include>
        <button class="button --button-arrow button__our-location js-open-modal" type="button" data-modal="2">
          <span class="button_text">Our Locations</span><svg class="button__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>

        <button class="button --button-arrow button__franchise --button-transperent" type="button">
          <span class="button_text">Franchise</span><svg class="button__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
  <footer class="footer">
    <section class="container">
      <div class="footer__container">
        <div class="block-one">
          <h2 class="footer__title">HOMEMADE ICE CREAM MADE</h2>
          <h3 class="footer__title-second">WITH PASSION</h3>
        </div>
        <div class="block-two">
          <ul class="footer__social-icons list">
            <li class="footer__social-items">
              <a href="#githab" class="footer__link">
                <svg class="icon-svg">
                  <use href="./images/icons.svg#github-yellow"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-items">
              <a href="#telegram" class="footer__link">
                <svg class="icon-svg">
                  <use href="./images/icons.svg#telegram-yellow"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-items">
              <a href="#facebook" class="footer__link">
                <svg class="icon-svg">
                  <use href="./images/icons.svg#facebook-yellow"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="footer__contact">
            <p class="footer__contact-text">Feel free to contact</p>
            <a class="footer__contact-tel" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </div>
        </div>
      </div>
      <div class="footer__compani">
        <p>© 2022 - IceCream.</p>
        <p>All Rights Reserved.</p>
      </div>

    </section>
  </footer>
</div>