<footer class="footer">
  <section class="container">
    <div class="footer__container">
      <div class="block-one">
        <h2 class="footer__title">HOMEMADE ICE CREAM MADE</h2>
        <h3 class="footer__title-second">WITH PASSION</h3>
      </div>
      <div class="block-two">
        <ul class="footer__social-icons list">
          <li class="footer__social-items">
            <a href="#githab" class="footer__link">
              <svg class="icon-svg">
                <use href="./images/icons.svg#github-yellow"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-items">
            <a href="#telegram" class="footer__link">
              <svg class="icon-svg">
                <use href="./images/icons.svg#telegram-yellow"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-items">
            <a href="#facebook" class="footer__link">
              <svg class="icon-svg">
                <use href="./images/icons.svg#facebook-yellow"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__contact">
          <p class="footer__contact-text">Feel free to contact</p>
          <a class="footer__contact-tel" href="tel:+610383766284">
            +61(0) 383 766 284
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="footer__compani">
      <p>© 2022 - IceCream.</p>
      <p>All Rights Reserved.</p>
    </div>
  </section>
</footer>