<header>
    <img class="logo" src="./images/header/Logodec@1x.png" alt="">
    <ul class="header__nav"> 
        <li class="nav_item"><a href="" class=" nav_link link">Home</a></li>
        <li class="nav_item"><a href="" class=" nav_link link">How it’s made?</a></li>
        <li class="nav_item"><a href="" class=" nav_link link">Our products</a></li>
        <li class="nav_item"><a href="" class=" nav_link link">Contact</a></li>
        <button class="nav__buton button" type="button" data-modal-open>
            Buy now
        </button>
    </ul>
</header>