<section class="hero">
    <div class="container">
        <h1 class="hero__title">ice cream made with passion</h1>
        <!--<ul class="hero__block">
            <li class="hero__item"><p class="hero__numb">16</p></li>
            <li class="hero__item"><p class="hero__text">cafes</p></li>
            <li class="hero__item"><p class="hero__numb">23</p></li>
            <li class="hero__item"><p class="hero__text">food trucks</p></li>
         </ul>-->
         <div class="">
            <ul class="hero__thumb">
                <li class="hero__item">
                    <div class="hero__box-1">
                        <svg class="hero__icons" width="32" height="34">
                            <use href="./images/hero/symbol-defs.svg#icon-16"></use>
                        </svg>
                        <p class="hero__text">cafes</p>
                    </div>
                </li>
                <li class="hero__item">
                    <div class="hero__box-2">
                        <svg class="hero__icons" width="36" height="34">
                            <use href="./images/hero/symbol-defs.svg#icon-23"></use>
                        </svg>
                        <p class="hero__text">food trucks</p>
                    </div>
                </li>
            </ul>
            </div> 
        <ul class="hero__nav">
            <li class="hero__nav1">
                <a class="button button_products --button-transperent" href="#products">Products</a>
            </li>
            <li class="hero__nav2">
                <a class="link_button" href="#about">How it’s made?</a>
            </li>
        </ul>
           
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <svg height="16" width="40"><use href="./images/icons.svg#arrow"></use></svg>
        <!--<div class="">
            <picture>
                <img class="hero__card" src="./images/png/waffel-desktop.png" alt="Ice cream in waffel" width="456" />
            </picture>
            </div>-->
            <!--<div class="">

                <img class="hero__card" src="./images/png/manyicecream-desktop.png" alt="Many ice cream" width="225" />
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
         </div>-->    
        

    </div>
</section>