<section class="prod">
      <div class="container">
        <p class="prod__label">100% natural</p>
        <h2 class="prod__header">products</h2>
        <ul class="prod__list">
          <li class="prod__item">
            <span class="prod__item--before"></span>
            <h3 class="prod__name">ice cream</h3>
            <p class="prod__text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            <button type="button" class="prod__button">
              <svg height="16" width="40">
                <use href="./images/icons.svg#arrow"></use>
              </svg>
            </button>
          </li>
          <li class="prod__item">
            <span class="prod__item--before"></span>
            <h3 class="prod__name">ice coffee</h3>
            <p class="prod__text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
            <button type="button" class="prod__button">
              <svg height="16" width="40">
                <use href="./images/icons.svg#arrow"></use>
              </svg>
            </button>
          </li>
          <li class="prod__item">
            <span class="prod__item--before"></span>
            <h3 class="prod__name">milkshakes</h3>
            <p class="prod__text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
            <button type="button" class="prod__button">
              <svg height="16" width="40">
                <use href="./images/icons.svg#arrow"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </section>