<section class="gallery container">
    <div class="gallery__picture">
        <img
        srcset="./images/gallery/ice-cream_280.jpg 280w
        ./images/gallery/ice-cream_560.jpg 560w
        ./images/gallery/ice-cream_704.jpg 704w
        ./images/gallery/ice-cream_1013.jpg 1013w
        ./images/gallery/ice-cream_1408.jpg 1408w
        ./images/gallery/ice-cream_2026.jpg 2026w
        "
        sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
        src="./images/gallery/ice-cream_1408.jpg"
        alt="ice-cream"
        width="1408"></div>
    <div class="gallery__foto">
        <img class="foto"
        srcset="./images/gallery/foto@1x.jpg 1x, 
        ./images/gallery/foto@2x.jpg 2x"
        src="./images/gallery/foto@1x.jpg"
        alt="girl"/>
    </div>
    <div class="gallery__box">
        <p class="gallery__text">I love visiting your cafe.
                You prepare the most delicious ice cream in Los Angeles!
                In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
    </div>
    <div class="gallery__post"> 
        <h2 class="gallery__title">Emily, Los Angeles</h2>
    </div>
        

    <!-- <div class="gallery__picture">
        <img srcset="
            ./images/gallery/ice-cream2_1013.jpg 1013w
            ./images/gallery/ice-cream2_2026.jpg 2026w
            " sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
            src="./images/gallery/ice-cream_1013.jpg" alt="ice-cream" width="1013">
    </div>
    <div class="gallery__foto">
        <img class="foto" 
        srcset="./images/gallery/foto2@1x.jpg 1x, 
                ./images/gallery/foto2@2x.jpg 2x" 
                src="./images/gallery/foto2@2x.jpg" alt="boy" />
    </div>
    <div class="gallery__box">
        <p class="gallery__text">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
</p>
    </div>
    <div class="gallery__post">
        <h2 class="gallery__title">Bryan, New-York</h2>
    </div>

    <div class="gallery__picture">
        <img srcset="
            ./images/gallery/ice-cream3_1013.jpg 1013w
            ./images/gallery/ice-cream3_2026.jpg 2026w
            " sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
            src="./images/gallery/ice-cream2_1013.jpg" alt="ice-cream" width="1013">
    </div>
    <div class="gallery__foto">
        <img class="foto" 
        srcset="./images/gallery/foto3@1x.jpg 1x, 
        ./images/gallery/foto3@2x.jpg 2x" 
        src="./images/gallery/foto3@1x.jpg" alt="girl" />
    </div>
    <div class="gallery__box">
        <p class="gallery__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always
        served politely and quickly!</p>
    </div>
    <div class="gallery__post">
        <h2 class="gallery__title">Diana, Chicago</h2>
    </div> -->
        
    
</section>